/* common rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* header */
.h-container {
    height: 50px;
    line-height: 50px;
    margin: 5px 10px;  
}

.logoimg {
    vertical-align: middle;
}

.logotext {
    font-size: 35px;
    font-weight: 750;
    vertical-align: middle;
}

/* main */

main {
    background-color: lightgray;
    padding: 10px;
}

.m-container {
    background-color: white;
    border-radius: 5px;
    margin: 30px auto 5px;
    max-width: 70vw;
}

nav {
    padding: 10px 40px;
    margin-bottom: 2px solid lightgrey;
}

button {
    border-radius: 2px;
    padding: 2px;
}

ul {
    list-style: none;
}

